* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

div {
  border-radius: 9px;
  padding: 0.5rem;
}

.grid-item {
  background: lightskyblue;
  border: 1px solid black;
}

.grid-container {
  background: lightgrey;
  border: 1px solid black;
  padding: 20px;

  /* Add Grid Props*/
}