/*************
** Color Palette
*************/

:root {
  --color-dark: #2c3e50;
  --color-white: #fff;
  --color-header: #f1f1f1;
  --font-family: Helvetica, Arial, sans-serif;
  --font-logo: Avenir;
}

/*************
** CSS Resets
*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* As a best practice, put your images inside of a container, like a <li> or a <div> and use these styles. */
img {
  width: 100%;
}

/********************
** Body
********************/

body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-white);
}


/********************
** Header
********************/

header {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-header);
}

#logo {
  font-size: 2rem;
  font-family: var(--font-logo);
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: var(--color-dark);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


/********************
** Main
********************/

main {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#photos-section {
  display: flex;
  gap: 40px;
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#sidebar li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#photos-grid {
  display: grid;
  gap: 20px;
  flex: 1;
}

#photos-grid img {
  border-radius: 8px;

  /* Make the images square */
  aspect-ratio: 1;

  /* But crop the image rather than distorting it */
  object-fit: cover;
}

/********************
** Footer
********************/

footer {
  padding: 1rem;
  text-align: center;
}

/*****************
** Media Queries
*****************/

/* Media Queries allow us to apply different styles for different "breakpoints" */
@media (min-width: 576px) {
  #photos-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #photos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}