/*************
** Color Palette
*************/

:root {
  --color-dark: #2c3e50;
  --color-white: #fff;
}

/*************
** CSS Resets
*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* As a best practice, put your images inside of a container, like a <li> or a <div> and use these styles. */
img {
  width: 100%;
}

/********************
** Body
********************/

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-white);
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


/********************
** Header
********************/

header {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
}

nav>a {
  color: var(--color-dark);
  text-decoration: none;
}

nav>a:hover {
  text-decoration: underline;
}


/********************
** Main
********************/

main {
  display: grid;

  grid-template-columns: min-content;
  grid-template-areas:
    'heading heading'
    'sidebar gallery';
  gap: 20px;
}

h1 {
  font-size: 2rem;
  grid-area: heading;
  text-align: center;
}

#sidebar {
  grid-area: sidebar;
  padding-right: 20px;
}

#sidebar>ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#sidebar>ul>li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#photos-grid {
  /* This is a part of the main grid layout */
  grid-area: gallery;

  /* AND it is a grid container for the pictures */
  display: grid;
  gap: 0.5rem;
}

#photos-grid img {
  /* Make the photos the same size and shape */
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/********************
** Footer
********************/

footer {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

/*****************
** Media Queries
*****************/

/* Media Queries allow us to apply different styles for different "breakpoints" */
@media (min-width: 576px) {
  #photos-grid {
    /* 2 equal sized columns, taking up the full size of their container*/
    grid-template-columns: 1fr 1fr;

    /* new rows will be the same size */
    grid-auto-rows: 1fr;

    /* new rows will have height === 20% of viewport width */
    grid-auto-rows: 40vw;
  }
}

@media (min-width: 1200px) {
  #photos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}