/*************
** Color Palette
*************/

:root {
  --color-dark: #2c3e50;
  --color-white: #fff;
}

/*************
** CSS Resets
*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* As a best practice, put your images inside of a container, like a <li> or a <div> and use these styles. */
img {
  width: 100%;
}

/********************
** Body
********************/

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


/********************
** Header
********************/

header {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
}

nav>a {
  color: var(--color-dark);
  text-decoration: none;
}

nav>a:hover {
  text-decoration: underline;
}


/********************
** Main
********************/

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#photos-section {
  display: flex;
  gap: 20px;
}

#sidebar>ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#sidebar>ul>li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#photos-grid {
  display: grid;
  gap: 0.5rem;
  flex: 1;
}

#photos-grid img {
  border-radius: 8px;
  /* Stretch each photo to fill the row */
  height: 100%;
  /* But crop the image to maintain the aspect ratio */
  object-fit: cover;
}

/********************
** Footer
********************/

footer {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

/*****************
** Media Queries
*****************/

/* Media Queries allow us to apply different styles for different "breakpoints" */
@media (min-width: 576px) {
  #photos-grid {
    grid-template-columns: 1fr 1fr;

    grid-auto-rows: 40vw;
  }
}

@media (min-width: 1200px) {
  #photos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}